<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>footer</title>
    <script src="../../lib/js/footer.js"></script>
</head>
<body>
    <div class="back">
        <span>Top</span>
    </div>
    <div class="hui_bg">
        <div class="f_nav">
            <a href="">首页</a>
            <span>|</span>
            <a href="">关于我们</a>
            <span>|</span>
            <a href="">产品中心</a>
            <span>|</span>
            <a href="">新闻资讯</a>
            <span>|</span>
            <a href="">人才招聘</a>
            <span>|</span>
            <a href="">联系我们</a>
        </div>
    </div>
    <div class="bq_bg">
        <div class="bq">Copyright © 2016 湖北精密仪器科技有限公司 版权所有</div>
    </div>
</body>
</html>
