<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>top</title>
</head>
<body>
    <div class="header">
        <div class="head clearfix">
            <div class="logo"><a href=""><img src="../../webCommon/images/top/logo.png" alt="仪器" /></a></div>
            <div class="head_r">
                <div class="head_ra">
                    <div class="tel">
                        <span>咨询热线：</span>
                        <b>15927107498</b>
                    </div>
                </div>
                <ul class="nav clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="views/aboutUs/about.html">关于我们</a></li>
                    <li><a href="views/products/productList.html">产品中心</a></li>
                    <li><a href="views/news/newsList.html">新闻资讯</a></li>
                    <li><a href="views/jobs/jobs.html">人才招聘</a></li>
                    <li><a href="views/aboutUs/about.html">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
