<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <base href="http://localhost:18149/" />
    <title>关于我们</title>
    <script src="../../lib/js/jquery-1.8.3.min.js"></script>
    <script src="../../lib/js/common.js"></script>
    <link href="../../lib/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="top">1</div>
    <div class="space_hx">&nbsp;</div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <span>关于我们</span>
                /About Us
            </div>
            <ul class="s_nav">
                <li class="on">
                    <a href="views/aboutUs/about.html">
                        公司简介
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/aboutUs/productAdvan.html">
                        产品优势
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/aboutUs/usCulture.html">
                        企业文化
                        <em>&nbsp;</em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top">
                <span class="r_name">公司简介</span>
                <div class="pst">
                    <a href="" class="home">首页</a>>
                    <a href="">关于我们</a>>
                    <a href="">公司简介</a>
                </div>
            </div>
            <div class="r_ctn clearfix">
                <img src="../../webCommon/images/aboutus/pic4.jpg" width="394" height="256" style="float:left; margin-right:20px;" alt="" />
                <h1 style=" font-size:20px; padding:15px 0; font-weight:normal; color:#000;">湖北精密仪器科技有限公司</h1>
                <p>
                    <span style="font-size:16px;">&nbsp;&nbsp;&nbsp;&nbsp;湖北精密仪器科技有限公司是华中地区首家色谱仪生产厂家。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;我公司主要生产气相色谱仪、<span style="font-size:14px;">液相柱温箱、无油真空泵、<span style="font-size:14px;">固相萃取仪、<span style="font-size:14px;">氮吹仪、</span></span></span>气相色谱柱、超声波清洗机及<span style="font-size:14px;">气体发生器</span>等色谱相关产品，同时兼营仪器维修，色谱方法开发等色谱学相关领域科研工作。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;武汉恒信世纪科技有限公司经过多年的发展，公司已拥有一批长期从事色谱仪器开发及应用的高级工程师、专家、教授，同时公司特聘请武汉大学色谱学专家长期坐镇指导，在色谱、光谱类仪器的研制、维护、应用等方面具有雄厚的技术力量。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;本公司在“追求卓越品质”的质量方针和“热忱服务客户”的经营理念指导下，已赢得全国各地高等院校、科研院所、公司厂矿等众多客户的长期支持和厚爱，以产品质量可靠、售后服务周到，而得到广大客户的一致好评。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;本公司将进一步为新老客户提供全方位和全过程的优质高效服务，热忱欢迎国内外广大客户前来咨询、洽谈，携手共创新辉煌！</span><br>
                    <br>
                    <br>
                    <span style="font-size:14px;font-weight:bold;">业务范围</span>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;1．生产及销售本公司制造的GC2020型高档气相色谱仪、GC2010型经济实用性气相色谱仪，各型号填充、毛细管色谱柱、CO-1000型色谱柱温箱、CO-2000型带托盘柱温箱、HX-01溶剂过滤器（含可带正压负压两种选择抽滤泵）、TS-2000型紫外荧光总硫元素分析仪、TN-2000型化学发光总氮元素分析仪、TCl-2000型微库仑总氯元素分析仪、超声波清洗器、氮吹仪、固相萃取仪、氢气发生器、空气发生器、氮气发生器、溶剂过滤器，以及代理进口国产气相色谱仪、液相色谱仪以及各种色谱仪配件耗材：各种色谱柱、色谱进样垫、微量进样针、衬管、PT-100铂电阻、可控硅、温控系统，色谱标样及色谱试剂等；兼营其他各种分析仪器、相关配件和试剂。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;2．专业维修各类进口和国产的气相色谱仪、高效液相色谱仪、硫氮氯元素分析仪、紫外分光光度计、原子吸收分光光度计、红外光谱仪、核磁共振、原子发射光谱等分析仪器。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;3．帮助客户仪器选型、建立分析方法、培训操作人员，为客户免费提供各种分析仪器应用、维修等技术咨询服务，真正让客户“买得放心，用得安心”。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;4．本公司对外承接各类气体、液体以及固体产品的分析检测任务；并承接家居空气质量、饮用水质量等与生活安全有关的监控分析。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;5．提供各个行业专用色谱仪，色谱方法开发，色谱仪改造工程等，以及各行业配套实验室。</span><br>
                    <br>
                    <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;6．行业专用色谱仪如：色谱在线分析系统、气路自动切换色谱仪、GC2020炼厂气分析专用气相色谱仪、GC2020油田专用轻烃分析气相色谱仪、总烃非甲烷总烃苯系物分析专用色谱仪、白酒14组分分析专用色谱仪、包装材料检测专用色谱仪、电力变压器油测定GC2020型专用色谱仪、液化气中二甲醚测定专业色谱仪、甲醇测定色谱、微量水测定色谱仪、天然气、人工煤气测定色谱、高纯气体测定色谱仪、食品二氧化碳测定色谱仪等各个行业专用色谱。 </span>
                </p>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>