<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <base href="http://localhost:18149/" />
    <title>产品优势</title>
    <script src="../../lib/js/jquery-1.8.3.min.js"></script>
    <script src="../../lib/js/common.js"></script>
    <!--引用百度地图API-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=reaWfkQHHBiCemRctPFCOpDaF0b3P9jj"></script>
    <link href="../../lib/css/common.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $("#dituContent").load("views/common/bdmap.html");
        })
    </script>
</head>
<body>
    <div id="top">1</div>
    <div class="space_hx">&nbsp;</div>
    <div class="scd clearfix">
        <div class="scd_r scd_ra">
            <div class="r_top">
                <span>联系我们</span>
                <em>/Contact Us</em>
                <div class="pst">
                    <a href="" class="home">首页</a>>
                    <a href="">联系我们</a>
                </div>
            </div>
            <div class="s_ctn clearfix">
                <div class="ct clearfix">
                    <div class="ct_l">
                        <h1>湖北精密仪器科技有限公司</h1>
                        <p><em>地址：</em>武汉市江夏区九凤街光谷8号工坊1-3-601</p>
                        <p><em>TEL：</em>15927107498</p>
                        <p><em>FAX：</em>0755-83832277</p>
                        <p><em>E-mail：</em>540859535@qq.com<em> http：//</em>www.zhzsgc.cn</p>
                    </div>
                    <div class="ct_r">
                        <ul class="wxqq">
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1093120999&amp;site=qq&amp;menu=yes" target="_blank" title="在线QQ我吧" rel="nofollow">
                                    <img src="../../webCommon/images/aboutus/i_qq.png">
                                    <span style="display: none;">
                                        <img src="../../webCommon/images/aboutus/i_qq_hover.jpg" alt="在线QQ我吧">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" title="扫一扫有惊喜" rel="nofollow">
                                    <img src="../../webCommon/images/aboutus/wx.png">
                                    <span style="display: none;">
                                        <img src="../../webCommon/images/aboutus/wx.png" alt="扫一扫有惊喜">
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=136810396&amp;site=qq&amp;menu=yes" target="_blank" title="在线QQ我吧" rel="nofollow">
                                    <img src="../../webCommon/images/aboutus/i_qq.png">
                                    <span style="display: none;">
                                        <img src="../../webCommon/images/aboutus/i_qq_hover.jpg" alt="在线QQ我吧">
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="ljzx">
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=393968345&amp;site=qq&amp;menu=yes" class="ljzx" target="_blank">立即咨询</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dituContent" class="bdmp"></div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>
