<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <base href="http://wx.accurate9.com/" />
    <title>产品优势</title>
    <script src="../../lib/js/jquery-1.8.3.min.js"></script>
    <script src="../../lib/js/common.js"></script>
    <link href="../../lib/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="top">1</div>
    <div class="space_hx">&nbsp;</div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <span>关于我们</span>
                /About Us
            </div>
            <ul class="s_nav">
                <li>
                    <a href="views/aboutUs/about.html">
                        公司简介
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li class="on">
                    <a href="views/aboutUs/productAdvan.html">
                        产品优势
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/aboutUs/usCulture.html">
                        企业文化
                        <em>&nbsp;</em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top">
                <span class="r_name">产品优势</span>
                <div class="pst">
                    <a href="" class="home">首页</a>>
                    <a href="">关于我们</a>>
                    <a href="">产品优势</a>
                </div>
            </div>
            <div class="r_ctn clearfix">
                <div>
                    <span style="font-size:20px;"><strong>全国独家十项首创</strong></span>
                    <br>
                    &nbsp;
                </div>
                <div>
                    <span style="font-size:16px;">
                        首台程序升温制冷柱温箱研发成功，并用于武汉大学化学院<br>
                        <br>
                        订制零下20℃超低温色谱反应催化柱温箱，并用于中科院化学研究所<br>
                        <br>
                        国内首家柱后衍生（一级）装置研制完毕<br>
                        <br>
                        成功研制出液化气中二甲醚甲醇甲缩醛测定专用色谱柱<br>
                        <br>
                        在线污染源非甲烷总烃NHMC测定专用气相色谱柱<br>
                        <br>
                        在线污染源中VOC测定专用气相色谱（环境空气中VOC在线测定初步取得进展）<br>
                        <br>
                        小体积自循环在线监控专用色谱研制成功<br>
                        <br>
                        四千瓦超大功率，玻璃陶瓷加热平板的研制<br>
                        <br>
                        工业气相色谱仪研制成功，并运用于油烟机换气效率试验<br>
                        <br>
                        国内首个高温粉尘样品负压取样系统研制成功<br>
                        <br>
                        首台光衍生研制完成，并应用于实际检测中
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>
