<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <base href="http://localhost:18149/" />
    <title>产品优势</title>
    <script src="../../lib/js/jquery-1.8.3.min.js"></script>
    <script src="../../lib/js/common.js"></script>
    <link href="../../lib/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="top">1</div>
    <div class="space_hx">&nbsp;</div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <span>关于我们</span>
                /About Us
            </div>
            <ul class="s_nav">
                <li>
                    <a href="views/aboutUs/about.html">
                        公司简介
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/aboutUs/productAdvan.html">
                        产品优势
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li class="on">
                    <a href="views/aboutUs/usCulture.html">
                        企业文化
                        <em>&nbsp;</em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top">
                <span class="r_name">企业文化</span>
                <div class="pst">
                    <a href="" class="home">首页</a>>
                    <a href="">关于我们</a>>
                    <a href="">企业文化</a>
                </div>
            </div>
            <div class="r_ctn clearfix">
                <h3>
                    <strong>做人文化</strong>
                </h3>
                <p>
                    &nbsp;&nbsp;&nbsp; 孔子曰：&nbsp;先做人，再做事。“做人”文化强调处人，做人不是个小问题，而是大问题，是每个人一生的必修课。<br>
                    &nbsp;
                </p>
                <section>
                    <div>
                        <div>
                            <h3>
                                <strong>诚信文化</strong>
                            </h3>
                            <p>
                                &nbsp;&nbsp;&nbsp; 信，诚也。诚信文化是公司在社会化生产服务中，依靠企业管理者、员工自觉的有意识的形成的一种诚实守信的经营理念。讲究诚信，才能实现共赢。
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <div>
                            <br>
                            <h3>
                                <strong>安全文化</strong>
                            </h3>
                            <p>
                                &nbsp;&nbsp;&nbsp; 安全文化的核心是以人为本，打造安全生产环境。这就需要将安全责任落实到公司全员的具体工作中，通过培育员工共同认可的安全价值观和安全行为规范，在公司内部营造自我约束、自主管理和团队管理的安全文化氛围。
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <div>
                            <br>
                            <h3>
                                <strong>质量文化</strong>
                            </h3>
                            <p>
                                &nbsp;&nbsp;&nbsp; 质量问题，关乎公司之命脉。公司一贯倡导决不让任何瑕疵品出生产车间，保证出厂的每一个产品都是合格品，在“质”的基础上确保“量”，以保障客户的利益。
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <div>
                            <br>
                            <h3>
                                <strong>创新文化</strong>
                            </h3>
                            <p>
                                &nbsp;&nbsp;&nbsp; 创新是公司前进的动力。公司一贯鼓励在思维、技术上的革新。崇尚创新、宽容失败、支持冒险、鼓励冒尖。
                            </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <div>
                            <br>
                            <h3>
                                <strong>服务文化</strong>
                            </h3>
                            <p>
                                &nbsp;&nbsp;&nbsp; “为您设计方案，为色谱设计未来”是我们的口号。我们打造一对一客户服务模式，以最快的速度，为客户解决最迫切的问题。
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>
