<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <base href="http://wx.accurate9.com/" />
    <title>产品优势</title>
    <script src="../../lib/js/jquery-1.8.3.min.js"></script>
    <script src="../../lib/js/common.js"></script>
    <link href="../../lib/css/common.css" rel="stylesheet" />
</head>
<body>
    <div id="top">1</div>
    <div class="space_hx">&nbsp;</div>
    <div class="scd clearfix">
        <div class="scd_r scd_ra">
            <div class="r_top">
                <span>HX-G柱后光化学衍生仪 光衍生装置</span>
                <div class="pst">
                    <a href="" class="home">首页</a>>
                    <a href="">产品中心</a>>
                    <a href="">仪器类</a>
                </div>
            </div>
            <div class="s_ctn clearfix">
                <div class="ct clearfix">
                    <div class="ct_l">
                        <span style="font-size:14px;">
                            <b>适用范围</b><br>
                            &nbsp; &nbsp; 该光化学衍生器广泛应用于黄曲霉毒素和磺胺类药物的HPLC法检测，它能够增强黄曲霉毒素B1和G1的荧光强度，黄曲霉毒素B1和G1检测限能够达到0.1ppb；还能够增强磺胺类药物的荧光强度：磺胺嘧啶（Sulfadiazine），磺胺吡啶（Sulfapyridine），磺胺甲基嘧啶（Sulfamerazine），磺胺二甲嘧啶（Sulfamethazine），磺胺对甲氧嘧啶（Sulfamethoxydiazine），磺胺喹噁啉（Sulfaquinoxaline），检测限达到10ppb左右。<br>
                            &nbsp; &nbsp; 光化学衍生器使用时置于HPLC柱和检测器之间，进行柱后连续光化学衍生反应提高荧光、紫外、电化学检测和化学发光检测器的灵敏度和/或响应的选择性。<br>
                            &nbsp; &nbsp;<br>
                            <b>光化学柱后衍生器黄曲霉毒素检测&nbsp;设备组成</b><br>
                            &nbsp;&nbsp;&nbsp; 光化学柱后衍生器包括下列组件：<br>
                            &nbsp;&nbsp;&nbsp; 带有开关的灯架(Lamp holder with switch)<br>
                            &nbsp;&nbsp;&nbsp; 高强度紫外灯，254nm(U.V. lamp,254nm)<br>
                            &nbsp;&nbsp;&nbsp; 反应池架(Reactor holder)<br>
                            &nbsp;&nbsp;&nbsp; 特殊设计的编织的反应线圈（knitted reactor coils）<br>
                            <br>
                            <b>安装与使用</b><br>
                            &nbsp;&nbsp;&nbsp; 将衍生器 ，一端连接色谱柱，一段连接检测器，无连接方向要求。<br>
                            &nbsp;<br>
                            光化学柱后衍生器黄曲霉毒素检测 &nbsp;应用<br>
                            <br>
                            <b>黄曲霉毒素的检测</b><br>
                            &nbsp; &nbsp; 由于黄曲霉毒素B1和G1本来具有较强的荧光性，但接触水以后，发生荧光的淬灭现象，荧光性基本消失，很难用液相色谱检测出来，采用衍生的方法可使黄曲霉B1和G1的荧光性增强。本光化学衍生器不需要任何化学试剂，直接连接于色谱柱与荧光检测器之间，操作简单，检测结果准确，灵敏度高。<br>
                            <br>
                            <br>
                            <b>液相色谱条件</b><br>
                            &nbsp; &nbsp; 色谱柱：Cloversil-C18 4.6*100mm（5μm）或Cloversil-C18 4.6*150mm（5μm）<br>
                            &nbsp; &nbsp; 流动相：甲醇-水（45+55，v/v）<br>
                            &nbsp; &nbsp; 流速：0.8mL/min，进样体积：20~100uL<br>
                            &nbsp; &nbsp;检测器：荧光检测器，激发波长360nm,发射波长440nm<br>
                            &nbsp;&nbsp;&nbsp;<br>
                            光化学衍生化系统：光化学衍生器（连接于色谱柱后，然后通向荧光检测器）<br>
                            黄曲霉毒素B1/G1/B2/G2色谱图<br>
                            <img alt="" src="http://www.hxsj17.com/uploads/allimg/150617/1-15061F95622N9.JPG" style="width: 553px; height: 296px;"><br>
                            <br>
                            黄曲霉毒素G1、B1、G2、B2浓度依次为10µg/L、10µg/L、2.5µg/L、2.5µg/L。<br>
                            &nbsp;
                        </span>
                    </div>
                    <div class="ct_r">
                        <img src="http://www.hxsj17.com/uploads/150617/1-15061F952462M.JPG" style="width:480px"/>
                    </div>
                </div>
            </div>
            <div id="dituContent" class="bdmp"></div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>
