<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <base href="http://localhost:18149/" />
    <title>产品中心</title>
    <script src="../../lib/js/jquery-1.8.3.min.js"></script>
    <script src="../../lib/js/common.js"></script>
    <link href="../../lib/css/common.css" rel="stylesheet" />
    <link href="../../lib/css/products.css" rel="stylesheet" />
</head>
<body>
    <div id="top"></div>
    <div class="space_hx">&nbsp;</div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <span>产品中心</span>
                /Products
            </div>
            <ul class="s_nav">
                <li class="on">
                    <a href="views/products/productList.html">
                        仪器类
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/products/productList.html">
                        色谱柱
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/products/productList.html">
                        进样瓶
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/products/productList.html">
                        滤器类
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/products/productList.html">
                        进样器
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/products/productList.html">
                        配件类
                        <em>&nbsp;</em>
                    </a>
                </li>
                <li>
                    <a href="views/products/productList.html">
                        气相色谱仪
                        <em>&nbsp;</em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top">
                <span class="r_name">仪器类</span>
                <div class="pst">
                    <a href="" class="home">首页</a>>
                    <a href="">产品中心</a>>
                    <a href="">仪器类</a>
                </div>
            </div>
            <div class="r_ctn clearfix">
                <div class="prolist">
                    <ul style="width: 795px;">
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/150617/1-15061F952462M.JPG" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">HX-G柱后光化学衍生仪</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ159570-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">HX系列薄层显色加热板</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ154560-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">24孔圆形固相萃取装置</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/140825/1-140R5101ZQ07.jpg" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">12孔固相萃取装置</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ136440-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">12孔氮吹仪（金属浴）</a></div>
                            </div>
                            <div class="demo2"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3"></div><div class="demo4"></div><div class="demo5"></div><div class="demo6"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ132280-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">CO-1000型 柱温箱</a></div>
                            </div>
                            <div class="demo2"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3"></div><div class="demo4"></div><div class="demo5"></div><div class="demo6"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/151020/1-151020095353293.JPG" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">HX-2000二级柱后衍生系统</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/150925/1-150925110129363.JPG" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">HX柱后衍生系统 一级</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ143360-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">超声波清洗机</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ104280-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1" style="opacity: 0;">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">柱后衍生装置</a></div>
                            </div>
                            <div class="demo2" style="opacity: 0;"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3" style="left: -133px; top: -87px;"></div><div class="demo4" style="right: -133px; top: -87px;"></div><div class="demo5" style="left: -133px; bottom: -87px;"></div><div class="demo6" style="right: -133px; bottom: -87px;"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ145050-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">HX-01无油静音真空泵</a></div>
                            </div>
                            <div class="demo2"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3"></div><div class="demo4"></div><div class="demo5"></div><div class="demo6"></div>
                        </li>
                        <li>
                            <div class="pic"><a href="views/products/productDetail.html" target="_blank"><img src="http://www.hxsj17.com/uploads/allimg/140808/1-140PQ145050-L.jpg" width="266" height="174"></a></div>
                            <div class="demo1">
                                <div class="name"><a href="views/products/productDetail.html" target="_blank">HX-01无油静音正压泵</a></div>
                            </div>
                            <div class="demo2"><a href="views/products/productDetail.html" target="_blank" class="check"></a></div>

                            <div class="demo3"></div><div class="demo4"></div><div class="demo5"></div><div class="demo6"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>
